body{
  background-color: darkgrey;
 background-image: url("12.jpg") ;
 background-attachment:fixed;
 background-repeat: no-repeat;
 

 
 
}

*{
  margin:0;

}
.nav {
  display: flex;
  flex-direction: row;
  
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0); 
}

.nav a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top:12px;
  padding-bottom:12px ;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  font-weight: bolder;
  font-size: 30px;
}

.nav a:hover {
  color: rgba(255, 250, 250, 0.466);
  background-color: rgba(85, 88, 86, 0.863);
  
}     
.active{
  
  background-color: rgb(26, 228, 177);

}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


* {box-sizing: border-box}


h1{
    color: #c23d3d;
    margin-left: 45%;
}
p{
  color: #04AA6D;
  margin-left: 41%;
}
.s{
  color: #f1f1f1;
}

label{
  color: #fffb00;
}



.container {
  margin-top: 5%;
  background-color: rgba(240, 248, 255, 0);
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}



/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
@media   (max-width:767px) 
{
  
    body{
      background-attachment: fixed;
        width: 100%;
    }
    .nav{
       position: relative;
        width: 100%;
        font-size: 10px;
    }
    .nav a{
      
      font-size: 10px;
    }
      p{
        margin-left: 30%;
      }
      
   
    }